body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin: 0;
}


.menu-icon {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

.menu-icon div {
    width: 35px;
    height: 5px;
    background: #222;
    margin: 6px 0;
    border-radius: 2px;
}




h1 {
    margin-top: 80px;
    font-size: 40px;
}

.back-link {
    position: absolute;
    left: 20px;
    top: 80px;
    font-size: 18px;
    text-decoration: none;
    color: #222;
}

.delivery-list-container {
    margin: 30px auto;
    max-width: 900px;
}

.delivery-list-search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    justify-content: center;
}

.delivery-list-search input {
    font-size: 18px;
    flex: 1;
    padding: 8px;
    max-width: 350px;
}

.delivery-list-search button {
    font-size: 18px;
    padding: 8px 18px;
}

.delivery-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.delivery-list-table thead {
    background: #eee;
}

.delivery-list-table th,
.delivery-list-table td {
    padding: 8px;
    border: 1px solid #ccc;
}

#deleteBtn {
    background: #e00;
    color: #fff;
    border: none;
    margin-left: 20px;
}

#deleteBtn,
#createBtn {
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 10px;
}